In [1]:
import pandas as pd
from preprocessor.preprocessor import Preprocessor# debil?
from preprocessor.dataextracter import DataExtracter
from model.model import Model

In [2]:
df = pd.read_csv('data/testdata/train_data.csv')

In [3]:
preprocessor = Preprocessor(df)
df = preprocessor.preprocess_data()

In [4]:
model = Model()

In [5]:
y = df['status']
X = df.drop(['status'], axis=1)
model.train(X, y)

In [6]:
val = pd.read_csv('data/testdata/val_data.csv')

In [7]:
preprocessor2 = Preprocessor(val)
val = preprocessor2.preprocess_data()

In [8]:
y_val = val['status']
X_val = val.drop(['status'], axis=1)
X_val = model.onehot(X_val)
y_pred = model.predict(X_val)
model.calculate_f1(y_pred, y_val)

f1_score: 0.9021823247175361

0.9021823247175361

In [2]:
dataex = DataExtracter()

In [3]:
train = dataex.train()

In [4]:
test = dataex.test()

In [5]:
obs = test['observation_id']

In [6]:
preprocessor = Preprocessor(train)
train = preprocessor.preprocess_train()

In [7]:
preprocessor = Preprocessor(test)
test = preprocessor.preprocess_test()

In [8]:
train

,status,airport,route_type,timestamp_hour,distance,no_of_waypoints,dayoftheweek,north,west,timestamp_month,timestamp_day
0,0,KIAH,0,14,1.333354,2,4,1,1,8,5
1,0,KIAH,0,14,1.382491,2,4,1,1,8,5
2,0,KIAH,0,19,1.333354,2,4,1,1,31,7
3,0,KIAH,0,19,1.382491,2,4,1,1,31,7
4,0,KIAH,0,11,1.333354,2,3,1,1,25,6
...,...,...,...,...,...,...,...,...,...,...,...
64995,1,KDFW,1,13,4.931723,13,1,0,0,23,3
64996,1,KDFW,1,4,4.931723,13,4,0,0,26,3
64997,1,KDFW,1,9,4.931723,13,3,0,0,27,5
64998,1,KDFW,1,11,4.931723,13,3,0,0,15,4
64999,1,KDFW,1,15,4.931723,13,2,0,0,17,3

In [9]:
model = Model()
y = train['status']
X = train.drop(['status'], axis=1)
model.train(X, y)

In [10]:
test = model.onehot(test)
pred = model.predict(test)

In [11]:
pred

array([0, 0, 1, ..., 1, 0, 1])

In [16]:
df = pd.DataFrame([obs, pred]).T

In [17]:
df.columns = ['observation_id', 'status']

In [19]:
# map status to OPEN / CLSD
df['status'] = df['status'].map({1: 'OPEN', 0: 'CLSD'})

In [22]:
# remove duplicates
p = df.drop_duplicates(subset=['observation_id'])

In [23]:
p

      observation_id status
0               1641   CLSD
1               1889   CLSD
2               2025   OPEN
3               3339   OPEN
4               3750   CLSD
...              ...    ...
3721           68894   OPEN
3722           68895   CLSD
3723           68903   OPEN
3724           68905   CLSD
3725           68912   OPEN

[3641 rows x 2 columns]

In [21]:
p.to_csv('siema.csv', index=False)