In [1]:
import pandas as pd
from preprocessor.preprocessor import Preprocessor# debil?
from preprocessor.dataextracter import DataExtracter
from model.model import Model

In [2]:
df = pd.read_csv('data/testdata/train_data.csv')

In [3]:
preprocessor = Preprocessor(df)
df = preprocessor.preprocess_data()

In [4]:
model = Model()

In [5]:
y = df['status']
X = df.drop(['status'], axis=1)
model.train(X, y)

In [6]:
val = pd.read_csv('data/testdata/val_data.csv')

In [7]:
preprocessor2 = Preprocessor(val)
val = preprocessor2.preprocess_data()

In [8]:
y_val = val['status']
X_val = val.drop(['status'], axis=1)
X_val = model.onehot(X_val)
y_pred = model.predict(X_val)
model.calculate_f1(y_pred, y_val)

f1_score: 0.9021823247175361

0.9021823247175361

In [2]:
dataex = DataExtracter()

In [3]:
train = dataex.train()

In [4]:
test = dataex.test()

In [5]:
train

,observation_id,route_id,timestamp,status,airport,route_type,waypoints,timestamp_date,timestamp_hour
0,0,LFK2 LFK,2020-05-08 14:01:17+00:00,CLSD,KIAH,DEPARTURE,"[(29.984436111111112, -95.34144166666667), (31...",2020-05-08,14
1,0,LFK2 LFK,2020-05-08 14:01:17+00:00,CLSD,KIAH,DEPARTURE,"[(29.984436111111112, -95.34144166666667), (31...",2020-05-08,14
2,185,LFK2 LFK,2020-07-31 19:36:14+00:00,CLSD,KIAH,DEPARTURE,"[(29.984436111111112, -95.34144166666667), (31...",2020-07-31,19
3,185,LFK2 LFK,2020-07-31 19:36:14+00:00,CLSD,KIAH,DEPARTURE,"[(29.984436111111112, -95.34144166666667), (31...",2020-07-31,19
4,232,LFK2 LFK,2020-06-25 11:34:00+00:00,CLSD,KIAH,DEPARTURE,"[(29.984436111111112, -95.34144166666667), (31...",2020-06-25,11
...,...,...,...,...,...,...,...,...,...
64995,68910,YUYUN BEREE1,2021-03-23 13:45:51+00:00,OPEN,KDFW,ARRIVAL,"[(32.451475, -92.91309444444445), (32.27523055...",2021-03-23,13
64996,68911,YUYUN BEREE1,2021-03-26 04:28:09+00:00,OPEN,KDFW,ARRIVAL,"[(32.451475, -92.91309444444445), (32.27523055...",2021-03-26,04
64997,68913,YUYUN BEREE1,2021-05-27 09:27:49+00:00,OPEN,KDFW,ARRIVAL,"[(32.451475, -92.91309444444445), (32.27523055...",2021-05-27,09
64998,68914,YUYUN BEREE1,2021-04-15 11:25:46+00:00,OPEN,KDFW,ARRIVAL,"[(32.451475, -92.91309444444445), (32.27523055...",2021-04-15,11
64999,68915,YUYUN BEREE1,2021-03-17 15:43:47+00:00,OPEN,KDFW,ARRIVAL,"[(32.451475, -92.91309444444445), (32.27523055...",2021-03-17,15

In [8]:
preprocessor = Preprocessor(train)
train = preprocessor.preprocess_train()

In [9]:
preprocessor = Preprocessor(test)
test = preprocessor.preprocess_test()

In [13]:
train

,status,airport,route_type,timestamp_hour,distance,no_of_waypoints,dayoftheweek,north,west,timestamp_month,timestamp_day
0,0,KIAH,0,14,1.333354,2,4,1,1,8,5
1,0,KIAH,0,14,1.382491,2,4,1,1,8,5
2,0,KIAH,0,19,1.333354,2,4,1,1,31,7
3,0,KIAH,0,19,1.382491,2,4,1,1,31,7
4,0,KIAH,0,11,1.333354,2,3,1,1,25,6
...,...,...,...,...,...,...,...,...,...,...,...
64995,1,KDFW,1,13,4.931723,13,1,0,0,23,3
64996,1,KDFW,1,4,4.931723,13,4,0,0,26,3
64997,1,KDFW,1,9,4.931723,13,3,0,0,27,5
64998,1,KDFW,1,11,4.931723,13,3,0,0,15,4
64999,1,KDFW,1,15,4.931723,13,2,0,0,17,3

In [16]:
model = Model()
y = train['status']
X = train.drop(['status'], axis=1)
model.train(X, y)

In [18]:
test = model.onehot(test)
model.predict(test)

array([0, 0, 1, ..., 1, 0, 1])